.example-twitter {
	position:relative;
	padding: 10px 15px 10px 10px;
	margin:100px 0 0.5em;
	color:#333;
	background:#eee;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* creates the triangle */
.example-twitter:after {
	content:"";
	position:absolute;
	top:-30px;
	left:50px;
	border:15px solid transparent;
	border-bottom-color:#eee;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}